go 1.22.2

use (
	./metadata
	./metadata/cmd
	./metadata/internal/controller
	./metadata/internal/handler
	./metadata/internal/repository
	./metadata/internal/repository/memory
	./metadata/pkg/model

	./movie
	./movie/cmd
	./movie/gateway
	./movie/gateway/metadata
	./movie/gateway/metadata/http
	./movie/gateway/rating
	./movie/gateway/rating/http
	./movie/internal/controller
	./movie/pkg/model

	./rating
	./rating/cmd
	./rating/internal/controller
	./rating/internal/handler
	./rating/internal/repository
	./rating/internal/repository/memory
	./rating/pkg/model
)
